[submodule "latent_action_vae/third_party/ptlflow"]
	path = latent_action_vae/third_party/ptlflow
	url = https://github.com/hmorimitsu/ptlflow.git
[submodule "latent_action_vae/third_party/efficientvit"]
	path = latent_action_vae/third_party/efficientvit
	url = https://github.com/mit-han-lab/efficientvit.git
